absl-py==1.4.0
astor==0.8.1
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
Flask==2.0.3
flask-ngrok==0.0.25
Flask-WTF==1.0.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
MarkupSafe==2.0.1
nltk==3.6.7
numpy==1.19.5
opt-einsum==3.3.0
protobuf==3.19.6
regex==2023.6.3
requests==2.27.1
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.16
Werkzeug==2.0.3
wincertstore==0.2
wrapt==1.15.0
WTForms==3.0.0
zipp==3.6.0
